@import "tailwindcss";

@theme {
  --color-portal-black: #09090b;
  /* Zinc-950, very stark black */
  --color-portal-accent: #f97316;
  /* Orange-500 */
  --color-portal-gray: #27272a;
  /* Zinc-800 for cards */

  --color-positive: #22c55e;
  --color-negative: #ef4444;

  --color-background: var(--color-portal-black);
  --color-foreground: #fafafa;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}